* {
    box-sizing: border-box;
}

body {
    font-family: 'Gilroy-Regular', sans-serif;
}

nav {
    width: 100%;
    padding: 40px 83px 40px 83px;
    display: flex;
    justify-content: space-between;
}

header {
    width: 940px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

a {
    text-decoration: none;
    color: white;}

.text-1-header {
    font-family: "Galien Regular";
    font-size: 64px;
    color: #1F3F68;
    margin-bottom: 30px;
}
.text-2-header {
    font-size: 16px;
    color: #1F3F68;
    width: 425px;
    margin-bottom: 70px;

}
.see-button {
    width: 220px;
    height: 56px;
    background-color: #5A98D0;
    text-align: center;
    padding: 17px;
    font-size: 16px;
    color: white;
    border-radius: 10px;
}
.img-header > img {
    width: 516px;
}

.section-1 {
    width: 940px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
}

.text-sec-1 {
    font-size: 36px;
    color: #316099;
    width: 358px;
}
.card {
    width: 380px;
    padding: 48px;
    border-radius: 10px;
    box-shadow: 0 4px 20px 2px #BBDEFB;
}

.text-1-card {
    margin: 50px 0 20px 0;
    font-size: 20px;
    color: #1F3F68;
}
.text-2-card {
    font-size: 16px;
    color: #1F3F68;
    line-height: 25px;
    margin-bottom: 50px;
}
.learn-more-card {
    font-size: 14px;
    color: #5A98D0;
}

.card-1 {
    position: relative;
    top: 280px;
    left: 75px;
}

.card-2 {
    margin: 20px 0 100px 0;
}


.card-3 > img {
    margin-left: 30px;
}

.our-finished-sec-2 {
    width: 940px;
    margin: auto;
}

.text-sec-2 {
    display: flex;
    justify-content: space-between;
    margin: 100px 0 100px 0;
}

.text-1-sec-2 {
    font-size: 36px;
    color: #1F3F68;
}
.text-2-sec-2 {
    width: 540px;
    font-size: 16px;
    color: #1F3F68;
}

.smart-home-sec-2 {
    width: 940px;
    height: 417px;
    margin: auto;
    background-image: url(Mask\ Group.jpg);
    padding: 48px;
    line-height: 50px;
}

.text-smart {
    text-align: end;
    font-size: 28px;
    color: white;
}
.text-under-smart {
    text-align: end;
    font-size: 16px;
    color: white;
}

.apps {
    display: flex;
    width: 940px;
    justify-content: space-between;
    margin: auto;
    margin-top: 100px;
}

.spark {
    padding: 30px;
    background-image: url(spark.jpg);
    width: 422px;
    height: 417px;
    line-height: 40px;
}

.text-1-apps {
    font-size: 28px;
    color: white;
}

.text-2-apps {
    font-size: 16px;
    color: white;
}

.car {
    padding: 30px;
    background-image: url(car.jpg);
    width: 422px;
    height: 417px;
    line-height: 40px;
}

.our-client {
    width: 1366px;
    background-color: #5A98D0;
    margin: auto;
    margin-top: 100px;
    border-radius: 200px 0 0 0;
    padding: 100px;
}

.text-client {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 940px;
    margin-bottom: 100px;

}

.text-1-client {
    font-size: 36px;
    color: white;
}

.text-2-client {
    font-size: 16px;
    color: white;
    width: 540px;
}

.logo-client {
    display: flex;
    flex-wrap: wrap;
    width: 940px;
    margin: auto;
}

.logo {
    width: 235px;
    /* height: 128px; */
    padding: 40px;
    color: white;
    font-size: 20px;
    text-align: center;
}

.more {
    background-color: #1F3F68;
    text-align: center;
    border-top: 1px solid white;
}

.row-1 {
    border-right: 1px solid white;
}

.row-2 {
    border-right: 1px solid white;
    border-top: 1px solid white;
}

 /* footer {
    width: 1366px;
    background-color: #5A98D0;
    margin: auto;
    border-radius: 0 200px 0 0; 
} */

.dark-blue {
    width: 92%;
    background-color: #1F3F68;
    border-radius: 0 200px 0 0;
    /* margin: auto; */
    /* padding: 50px; */
}

.footer-content {
    width: 940px;
    margin: auto;
}

.above-line {
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 100px 0 100px 0;
    margin-left: 60px;
    align-items: center;
    /* border-bottom: 1px solid white; */
}

.text-1-above {
    font-size: 36px;
    color: white;
    margin-bottom: 30px;
}

.text-2-above {
    font-size: 16px;
    color: white;
    width: 460px;
}

.button-above {
    background-color: #5A98D0;
    color: white;
    font-size: 16;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    width: 220px;
    height: 56px;
}

.line {
    border-bottom: 1px solid white;
    /* width: 1095px; */
}

.under-line {
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 100px 0 100px 0;
    margin-left: 60px;
    align-items: center;
}

.dark-blue-2 {
    width: 92%;
    background-color: #1F3F68;

}

.text-1-col-1 {
    color: white;
    font-size: 28px;
    margin-bottom: 20px;
}

.text-1-col-1 > img {
    vertical-align: middle;
}


.text-2-col-1 {
    color: white;
    font-size: 16px;
    line-height: 40px;
}

.copyright {
    padding-bottom: 100px;
    margin-left: 60px;
    color: grey;
}


